@using ShopAspNet.Models;
@*
    
*@
@{
   // var product = ViewData["Product"] as List<Product>;
}
@{
    Layout = "_ShopLayout";

}
    <!-- Hero Slider Begin -->
    <section class="hero-slider">
        <div class="hero-items owl-carousel">
            <div class="single-slider-item set-bg" data-setbg="img/slider-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2019</h1>
                            <h2>Lookbook.</h2>
                            <a href="#" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider-item set-bg" data-setbg="img/slider-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2019</h1>
                            <h2>Lookbook.</h2>
                            <a href="#" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider-item set-bg" data-setbg="img/slider-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2019</h1>
                            <h2>Lookbook.</h2>
                            <a href="#" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Slider End -->

  

    <!-- Latest Product Begin -->
    <section class="latest-products spad">
        <div class="container">
            <div class="product-filter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Latest Products</h2>
                        </div>
                        <ul class="product-controls">
                            <li data-filter=".all">All</li>
                        @foreach (Category category in Model.Categories)
                        {
                                <li data-filter=".cat-@category.Id">@category.Title</li>
                        }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row" id="product-list">
                @foreach (Product item in Model.Products)
                {
                     <div class="col-lg-3 col-sm-6 mix all cat-@item.CategoryId">
                    <div class="single-product-item">
                        <figure>
                            <a href="/product/@item.Id">
                                <img class="product-image" src="@item.MainImage.Url()" alt="">
                                     </a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                                    <h6>@item.Title</h6>
                                    <p>@item.Price $</p>
                        </div>
                    </div>
                   </div>
                }        
            </div>
        </div>
    </section>
    <!-- Latest Product End -->
