@using ShopAspNet.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Category
@{
	ViewData["Title"] = "Edit Category";
	Layout = "_AdminLayout"; // Specify the layout template
}
	<div class="container">
		<div class="row mt-5">
			<div class="col-md-8">
			@if (Model.Image != null)
			{
				<img class="img-fluid" src="@Model.Image.Url()"/>
			}
		</div>
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h1 class="card-title">Edit category</h1>
					</div>
					<div class="card-body">
						<form method="post" enctype="multipart/form-data">

						@await Html.PartialAsync("_FormControls", Model)

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
