@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"]</title>
	 <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

	<!-- Css Styles -->
	<link href="/css/bootstrap-5.0.2-dist/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" href="css/nice-select.css" type="text/css">
	<link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
	<link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<style>
		.field-validation-error {
			color: red;
			font-size: 18px;
		}
	</style>

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container-fluid">
		  <button class="navbar-toggler" type="button" data-toggle="collapse"
		  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		  aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="/Category/Index">Categories</a>
				  </li>
				   <li class="nav-item">
					<a class="nav-link" href="/AdminProduct">Products</a>
				  </li>
					<li class="nav-item">
						<a class="nav-link" href="/Orders/Index">Orders</a>
					</li>
				</ul>
			</div>
			
	</div>
	</nav>

	@RenderBody()
	<script src="/css/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/jquery.slicknav.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/mixitup.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>